{*
Cheat sheet of all icons
*}

<table>
	<tr>
		<th>
			Image
		</th>
		<th>
			Sprite
		</th>
		<th>
			CSS class name
		</th>
		<th>
			Class constant name
		</th>
	</tr>
	{foreach $sprites as $sprite}
	<tr>
		<td>
			<img src="{$sprite->image|dataStream}"/>
			{$sprite->image}
		</td>
		<td>
			<i class="{$sprite->cssClass}"></i>
		</td>
		<td>
			{* Might be available on different class names *}
			<ul>
			{foreach $sprite->cssClasses as $cssClass}
				<li><input value="{$cssClass}" type="text"/></li>
			{/foreach}
			</ul>
		</td>
		<td>
			{* Might be available as different class constants *}
			<ul>
			{foreach $sprite->constants as $constant}
				<li><input value="{$constant}" type="text"/></li>
			{/foreach}
			</ul>
		</td>
	</tr>
	{/foreach}
</table>
