{* Latte template *}
<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Sprite Cheat Sheet</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{$css}">
		<style type="text/css">
			/* Basic normalize */
			html {
				font-family: sans-serif;
				-ms-text-size-adjust: 100%;
				-webkit-text-size-adjust: 100%;
			}
			body {
				margin: 0;
			}
			* {
			  -webkit-box-sizing: border-box;
			  -moz-box-sizing: border-box;
			  box-sizing: border-box;
			}
			/*Main container*/
			.container {
				margin-right: auto;
				margin-left: auto;
				padding-left: 15px;
				padding-right: 15px;
			}
			@media (min-width: 768px) {
				.container {
					width: 750px;
				}
			}
			@media (min-width: 992px) {
				.container {
					width: 970px;
				}
			}
			@media (min-width: 1200px) {
				.container {
					width: 1170px;
				}
			}

			/* Lists*/
			ol, ul {
				margin-top: 0;
				margin-bottom: 10px;
			}
			.list-unstyled {
				padding-left: 0;
				list-style: none;
			}
			/* Table*/
			table {
				border-collapse: collapse;
				border-spacing: 0;
				background-color: transparent;
			}
			caption {
				padding-top: 8px;
				padding-bottom: 8px;
				color: #777777;
				text-align: left;
			}
			th {
				text-align: left;
			}
			.table {
				width: 100%;
				max-width: 100%;
				margin-bottom: 20px;
			}
			.table > thead > tr > th,
			.table > tbody > tr > th,
			.table > tfoot > tr > th,
			.table > thead > tr > td,
			.table > tbody > tr > td,
			.table > tfoot > tr > td {
				padding: 8px;
				line-height: 1.42857143;
				vertical-align: top;
				border-top: 1px solid #ddd;
			}
			.table > thead > tr > th {
				vertical-align: bottom;
				border-bottom: 2px solid #ddd;
			}
			.table > caption + thead > tr:first-child > th,
			.table > colgroup + thead > tr:first-child > th,
			.table > thead:first-child > tr:first-child > th,
			.table > caption + thead > tr:first-child > td,
			.table > colgroup + thead > tr:first-child > td,
			.table > thead:first-child > tr:first-child > td {
				border-top: 0;
			}
			.table > tbody + tbody {
				border-top: 2px solid #ddd;
			}
			.table .table {
				background-color: #fff;
			}
			.table-condensed > thead > tr > th,
			.table-condensed > tbody > tr > th,
			.table-condensed > tfoot > tr > th,
			.table-condensed > thead > tr > td,
			.table-condensed > tbody > tr > td,
			.table-condensed > tfoot > tr > td {
				padding: 5px;
			}
			.table-bordered {
				border: 1px solid #ddd;
			}
			.table-bordered > thead > tr > th,
			.table-bordered > tbody > tr > th,
			.table-bordered > tfoot > tr > th,
			.table-bordered > thead > tr > td,
			.table-bordered > tbody > tr > td,
			.table-bordered > tfoot > tr > td {
				border: 1px solid #ddd;
			}
			.table-bordered > thead > tr > th,
			.table-bordered > thead > tr > td {
				border-bottom-width: 2px;
			}
			.table-striped > tbody > tr:nth-of-type(odd) {
				background-color: #f9f9f9;
			}
			.table-hover > tbody > tr:hover {
				background-color: #f5f5f5;
			}
			table col[class*="col-"] {
				position: static;
				float: none;
				display: table-column;
			}
			table td[class*="col-"],
			table th[class*="col-"] {
				position: static;
				float: none;
				display: table-cell;
			}
			.table > thead > tr > td.active,
			.table > tbody > tr > td.active,
			.table > tfoot > tr > td.active,
			.table > thead > tr > th.active,
			.table > tbody > tr > th.active,
			.table > tfoot > tr > th.active,
			.table > thead > tr.active > td,
			.table > tbody > tr.active > td,
			.table > tfoot > tr.active > td,
			.table > thead > tr.active > th,
			.table > tbody > tr.active > th,
			.table > tfoot > tr.active > th {
				background-color: #f5f5f5;
			}
			.table-hover > tbody > tr > td.active:hover,
			.table-hover > tbody > tr > th.active:hover,
			.table-hover > tbody > tr.active:hover > td,
			.table-hover > tbody > tr:hover > .active,
			.table-hover > tbody > tr.active:hover > th {
				background-color: #e8e8e8;
			}
			.table > thead > tr > td.success,
			.table > tbody > tr > td.success,
			.table > tfoot > tr > td.success,
			.table > thead > tr > th.success,
			.table > tbody > tr > th.success,
			.table > tfoot > tr > th.success,
			.table > thead > tr.success > td,
			.table > tbody > tr.success > td,
			.table > tfoot > tr.success > td,
			.table > thead > tr.success > th,
			.table > tbody > tr.success > th,
			.table > tfoot > tr.success > th {
				background-color: #dff0d8;
			}
			.table-hover > tbody > tr > td.success:hover,
			.table-hover > tbody > tr > th.success:hover,
			.table-hover > tbody > tr.success:hover > td,
			.table-hover > tbody > tr:hover > .success,
			.table-hover > tbody > tr.success:hover > th {
				background-color: #d0e9c6;
			}
			.table > thead > tr > td.info,
			.table > tbody > tr > td.info,
			.table > tfoot > tr > td.info,
			.table > thead > tr > th.info,
			.table > tbody > tr > th.info,
			.table > tfoot > tr > th.info,
			.table > thead > tr.info > td,
			.table > tbody > tr.info > td,
			.table > tfoot > tr.info > td,
			.table > thead > tr.info > th,
			.table > tbody > tr.info > th,
			.table > tfoot > tr.info > th {
				background-color: #d9edf7;
			}
			.table-hover > tbody > tr > td.info:hover,
			.table-hover > tbody > tr > th.info:hover,
			.table-hover > tbody > tr.info:hover > td,
			.table-hover > tbody > tr:hover > .info,
			.table-hover > tbody > tr.info:hover > th {
				background-color: #c4e3f3;
			}
			.table > thead > tr > td.warning,
			.table > tbody > tr > td.warning,
			.table > tfoot > tr > td.warning,
			.table > thead > tr > th.warning,
			.table > tbody > tr > th.warning,
			.table > tfoot > tr > th.warning,
			.table > thead > tr.warning > td,
			.table > tbody > tr.warning > td,
			.table > tfoot > tr.warning > td,
			.table > thead > tr.warning > th,
			.table > tbody > tr.warning > th,
			.table > tfoot > tr.warning > th {
				background-color: #fcf8e3;
			}
			.table-hover > tbody > tr > td.warning:hover,
			.table-hover > tbody > tr > th.warning:hover,
			.table-hover > tbody > tr.warning:hover > td,
			.table-hover > tbody > tr:hover > .warning,
			.table-hover > tbody > tr.warning:hover > th {
				background-color: #faf2cc;
			}
			.table > thead > tr > td.danger,
			.table > tbody > tr > td.danger,
			.table > tfoot > tr > td.danger,
			.table > thead > tr > th.danger,
			.table > tbody > tr > th.danger,
			.table > tfoot > tr > th.danger,
			.table > thead > tr.danger > td,
			.table > tbody > tr.danger > td,
			.table > tfoot > tr.danger > td,
			.table > thead > tr.danger > th,
			.table > tbody > tr.danger > th,
			.table > tfoot > tr.danger > th {
				background-color: #f2dede;
			}
			.table-hover > tbody > tr > td.danger:hover,
			.table-hover > tbody > tr > th.danger:hover,
			.table-hover > tbody > tr.danger:hover > td,
			.table-hover > tbody > tr:hover > .danger,
			.table-hover > tbody > tr.danger:hover > th {
				background-color: #ebcccc;
			}
			.table-responsive {
				overflow-x: auto;
				min-height: 0.01%;
			}
			@media screen and (max-width: 767px) {
				.table-responsive {
					width: 100%;
					margin-bottom: 15px;
					overflow-y: hidden;
					-ms-overflow-style: -ms-autohiding-scrollbar;
					border: 1px solid #ddd;
				}
				.table-responsive > .table {
					margin-bottom: 0;
				}
				.table-responsive > .table > thead > tr > th,
				.table-responsive > .table > tbody > tr > th,
				.table-responsive > .table > tfoot > tr > th,
				.table-responsive > .table > thead > tr > td,
				.table-responsive > .table > tbody > tr > td,
				.table-responsive > .table > tfoot > tr > td {
					white-space: nowrap;
				}
				.table-responsive > .table-bordered {
					border: 0;
				}
				.table-responsive > .table-bordered > thead > tr > th:first-child,
				.table-responsive > .table-bordered > tbody > tr > th:first-child,
				.table-responsive > .table-bordered > tfoot > tr > th:first-child,
				.table-responsive > .table-bordered > thead > tr > td:first-child,
				.table-responsive > .table-bordered > tbody > tr > td:first-child,
				.table-responsive > .table-bordered > tfoot > tr > td:first-child {
					border-left: 0;
				}
				.table-responsive > .table-bordered > thead > tr > th:last-child,
				.table-responsive > .table-bordered > tbody > tr > th:last-child,
				.table-responsive > .table-bordered > tfoot > tr > th:last-child,
				.table-responsive > .table-bordered > thead > tr > td:last-child,
				.table-responsive > .table-bordered > tbody > tr > td:last-child,
				.table-responsive > .table-bordered > tfoot > tr > td:last-child {
					border-right: 0;
				}
				.table-responsive > .table-bordered > tbody > tr:last-child > th,
				.table-responsive > .table-bordered > tfoot > tr:last-child > th,
				.table-responsive > .table-bordered > tbody > tr:last-child > td,
				.table-responsive > .table-bordered > tfoot > tr:last-child > td {
					border-bottom: 0;
				}
			}
			/* Inputs */
			input[type="search"] {
			  -webkit-box-sizing: border-box;
				 -moz-box-sizing: border-box;
					  box-sizing: border-box;
			}
			input[type="radio"],
			input[type="checkbox"] {
			  margin: 4px 0 0;
			  margin-top: 1px \9;
			  line-height: normal;
			}
			input[type="file"] {
			  display: block;
			}
			input[type="range"] {
			  display: block;
			  width: 100%;
			}
			select[multiple],
			select[size] {
			  height: auto;
			}
			input[type="file"]:focus,
			input[type="radio"]:focus,
			input[type="checkbox"]:focus {
			  outline: 5px auto -webkit-focus-ring-color;
			  outline-offset: -2px;
			}
			output {
			  display: block;
			  padding-top: 7px;
			  font-size: 14px;
			  line-height: 1.42857143;
			  color: #555;
			}
			.form-control {
			  display: block;
			  width: 100%;
			  height: 34px;
			  padding: 6px 12px;
			  font-size: 14px;
			  line-height: 1.42857143;
			  color: #555;
			  background-color: #fff;
			  background-image: none;
			  border: 1px solid #ccc;
			  border-radius: 4px;
			  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
					  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
			  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
				   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
					  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			}
			.form-control:focus {
			  border-color: #66afe9;
			  outline: 0;
			  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
					  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
			}
			.form-control::-moz-placeholder {
			  color: #999;
			  opacity: 1;
			}
			.form-control:-ms-input-placeholder {
			  color: #999;
			}
			.form-control::-webkit-input-placeholder {
			  color: #999;
			}
			.form-control::-ms-expand {
			  background-color: transparent;
			  border: 0;
			}
			.form-control[disabled],
			.form-control[readonly],
			fieldset[disabled] .form-control {
			  background-color: #eee;
			  opacity: 1;
			}
			.form-control[disabled],
			fieldset[disabled] .form-control {
			  cursor: not-allowed;
			}
			textarea.form-control {
			  height: auto;
			}
			input[type="search"] {
			  -webkit-appearance: none;
			}
			@media screen and (-webkit-min-device-pixel-ratio: 0) {
			  input[type="date"].form-control,
			  input[type="time"].form-control,
			  input[type="datetime-local"].form-control,
			  input[type="month"].form-control {
				line-height: 34px;
			  }
			  input[type="date"].input-sm,
			  input[type="time"].input-sm,
			  input[type="datetime-local"].input-sm,
			  input[type="month"].input-sm,
			  .input-group-sm input[type="date"],
			  .input-group-sm input[type="time"],
			  .input-group-sm input[type="datetime-local"],
			  .input-group-sm input[type="month"] {
				line-height: 30px;
			  }
			  input[type="date"].input-lg,
			  input[type="time"].input-lg,
			  input[type="datetime-local"].input-lg,
			  input[type="month"].input-lg,
			  .input-group-lg input[type="date"],
			  .input-group-lg input[type="time"],
			  .input-group-lg input[type="datetime-local"],
			  .input-group-lg input[type="month"] {
				line-height: 46px;
			  }
			}
			.form-group {
			  margin-bottom: 15px;
			}
			.radio,
			.checkbox {
			  position: relative;
			  display: block;
			  margin-top: 10px;
			  margin-bottom: 10px;
			}
			.radio label,
			.checkbox label {
			  min-height: 20px;
			  padding-left: 20px;
			  margin-bottom: 0;
			  font-weight: normal;
			  cursor: pointer;
			}
			.radio input[type="radio"],
			.radio-inline input[type="radio"],
			.checkbox input[type="checkbox"],
			.checkbox-inline input[type="checkbox"] {
			  position: absolute;
			  margin-top: 4px \9;
			  margin-left: -20px;
			}
			.radio + .radio,
			.checkbox + .checkbox {
			  margin-top: -5px;
			}
			.radio-inline,
			.checkbox-inline {
			  position: relative;
			  display: inline-block;
			  padding-left: 20px;
			  margin-bottom: 0;
			  font-weight: normal;
			  vertical-align: middle;
			  cursor: pointer;
			}
			.radio-inline + .radio-inline,
			.checkbox-inline + .checkbox-inline {
			  margin-top: 0;
			  margin-left: 10px;
			}
			input[type="radio"][disabled],
			input[type="checkbox"][disabled],
			input[type="radio"].disabled,
			input[type="checkbox"].disabled,
			fieldset[disabled] input[type="radio"],
			fieldset[disabled] input[type="checkbox"] {
			  cursor: not-allowed;
			}
			.radio-inline.disabled,
			.checkbox-inline.disabled,
			fieldset[disabled] .radio-inline,
			fieldset[disabled] .checkbox-inline {
			  cursor: not-allowed;
			}
			.radio.disabled label,
			.checkbox.disabled label,
			fieldset[disabled] .radio label,
			fieldset[disabled] .checkbox label {
			  cursor: not-allowed;
			}
			.form-control-static {
			  min-height: 34px;
			  padding-top: 7px;
			  padding-bottom: 7px;
			  margin-bottom: 0;
			}
			.form-control-static.input-lg,
			.form-control-static.input-sm {
			  padding-right: 0;
			  padding-left: 0;
			}
			.input-sm {
			  height: 30px;
			  padding: 5px 10px;
			  font-size: 12px;
			  line-height: 1.5;
			  border-radius: 3px;
			}
			select.input-sm {
			  height: 30px;
			  line-height: 30px;
			}
			textarea.input-sm,
			select[multiple].input-sm {
			  height: auto;
			}
			.form-group-sm .form-control {
			  height: 30px;
			  padding: 5px 10px;
			  font-size: 12px;
			  line-height: 1.5;
			  border-radius: 3px;
			}
			.form-group-sm select.form-control {
			  height: 30px;
			  line-height: 30px;
			}
			.form-group-sm textarea.form-control,
			.form-group-sm select[multiple].form-control {
			  height: auto;
			}
			.form-group-sm .form-control-static {
			  height: 30px;
			  min-height: 32px;
			  padding: 6px 10px;
			  font-size: 12px;
			  line-height: 1.5;
			}
			.input-lg {
			  height: 46px;
			  padding: 10px 16px;
			  font-size: 18px;
			  line-height: 1.3333333;
			  border-radius: 6px;
			}
			select.input-lg {
			  height: 46px;
			  line-height: 46px;
			}
			textarea.input-lg,
			select[multiple].input-lg {
			  height: auto;
			}
			.form-group-lg .form-control {
			  height: 46px;
			  padding: 10px 16px;
			  font-size: 18px;
			  line-height: 1.3333333;
			  border-radius: 6px;
			}
			.form-group-lg select.form-control {
			  height: 46px;
			  line-height: 46px;
			}
			.form-group-lg textarea.form-control,
			.form-group-lg select[multiple].form-control {
			  height: auto;
			}
			.form-group-lg .form-control-static {
			  height: 46px;
			  min-height: 38px;
			  padding: 11px 16px;
			  font-size: 18px;
			  line-height: 1.3333333;
			}
		</style>
		<style>
			/* Minor tweaks */
			/* @aColor: #0E91D3;*/
			/* @aHover: #0955bf;*/
			a{
				text-decoration: none;
				color: #0E91D3;
			}
			a:hover, a:active, a:focus{
				color: #0955bf
			}
			.form-control {
				padding: 4px 8px;
				margin: 2px;
				height: auto;
			}
			.const-long{
				display: none;
			}
			.td-image, .td-sprite{
				min-height: 34px;
			}
			.td-image img, .td-sprite i{
				vertical-align: middle;
			}
			ol, ul{
				margin-bottom: 0;
			}
		</style>
		<!--[if lt IE 9]>
			 <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			 <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<h1>Generated Sprites Cheat Sheet</h1>
			<input type="search" class="light-table-filter form-control" data-table="table" placeholder="Filter" />
			<div class="checkbox">
				<label>
					<input type="checkbox" checked="true" class="consts-filter" data-table="table" />
					Short constant names
				</label>
			</div>
			<div>
				<p>
					<em>Clicking on class or constant name will copy value to clipboard (browser dependent)</em>
				</p>
			</div>
			{$table|noescape}
			<div>
				<p>
					<em><a href="http://maslosoft.com/sprite/" target="_blank">Generated by Maslosoft Sprite</a></em>
				</p>
			</div>
		</div>
	</body>
	<script>
		(function(document) {
			'use strict';
			// See original filter here: https://codepen.io/chriscoyier/pen/tIuBL
			var LightTableFilter = (function(Arr) {

				var _input;

				function _onInputEvent(e) {
					_input = e.target;
					var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
					Arr.forEach.call(tables, function(table) {
						Arr.forEach.call(table.tBodies, function(tbody) {
							Arr.forEach.call(tbody.rows, _filter);
						});
					});
				}

				function _filter(row) {
					var inputs = row.getElementsByTagName('input');
					var val = _input.value.toLowerCase();
					var text = '';
					Arr.forEach.call(inputs, function(input) {
						text += input.value;
					});
					text += row.textContent.toLowerCase();
					row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
				}

				return {
					init: function() {
						var inputs = document.getElementsByClassName('light-table-filter');
						Arr.forEach.call(inputs, function(input) {
							input.oninput = _onInputEvent;
						});
					}
				};
			})(Array.prototype);

			var CheckboxFilter = (function(Arr) {

				var _input;
				var long;
				var short;
				function _onInputEvent(e) {
					_input = e.target;
					if(_input.checked){
						_showAll(short);
						_hideAll(long);
					}else{
						_showAll(long);
						_hideAll(short);
					}
				}
				function _showAll(uls){
					Arr.forEach.call(uls, function(ul) {
							ul.style.display = 'block';
						});
				}
				function _hideAll(uls){
					Arr.forEach.call(uls, function(ul) {
							ul.style.display = 'none';
						});
				}

				return {
					init: function() {
						var inputs = document.getElementsByClassName('consts-filter');
						long = document.getElementsByClassName('const-long');
						short = document.getElementsByClassName('const-short');
						Arr.forEach.call(inputs, function(input) {
							input.onclick = _onInputEvent;
						});
					}
				};
			})(Array.prototype);
			
			document.addEventListener('readystatechange', function() {
				if (document.readyState === 'complete') {
					LightTableFilter.init();
					CheckboxFilter.init();
				}
			});

		})(document);
	</script>
</html>
