{*
This is base class for specified icon size
*}
[class^="{$prefix}-{$size}"], [class*=" {$prefix}-{$size}"] {
	display:inline-block;
	overflow:hidden;
	vertical-align: text-top;
	{* Just set to height *}
	line-height:{$size}px;
	width:{$size}px;
	height:{$size}px;
	background-repeat:no-repeat;
	background-image:url(sprite.png) !important;
}