[class^="icon-16"], [class*=" icon-16"] {
	display:inline-block;
	overflow:hidden;
	vertical-align: text-top;
	line-height:16px;
	width:16px;
	height:16px;
	background-repeat:no-repeat;
	background-image:url(sprite.png) !important;
}
[class^="icon-32"], [class*=" icon-32"] {
	display:inline-block;
	overflow:hidden;
	vertical-align: text-top;
	line-height:32px;
	width:32px;
	height:32px;
	background-repeat:no-repeat;
	background-image:url(sprite.png) !important;
}
[class^="icon-64"], [class*=" icon-64"] {
	display:inline-block;
	overflow:hidden;
	vertical-align: text-top;
	line-height:64px;
	width:64px;
	height:64px;
	background-repeat:no-repeat;
	background-image:url(sprite.png) !important;
}
.icon-16-group-key{
	background-position: 0px 0px;
}
.icon-16-group{
	background-position: 0px -16px;
}
.icon-16-help{
	background-position: 0px -32px;
}
.icon-16-key{
	background-position: 0px -48px;
}
.icon-16-node-tree{
	background-position: 0px -64px;
}
.icon-16-recycle{
	background-position: 0px -80px;
}
.icon-16-text-list-numbers{
	background-position: 0px -96px;
}
.icon-16-application-block{
	background-position: 0px -112px;
}
.icon-16-application-view-columns{
	background-position: 0px -128px;
}
.icon-16-application-view-detail{
	background-position: 0px -144px;
}
.icon-16-application-view-gallery{
	background-position: 0px -160px;
}
.icon-16-application-view-icons{
	background-position: 0px -176px;
}
.icon-16-application-view-list{
	background-position: 0px -192px;
}
.icon-16-application-view-tile{
	background-position: 0px -208px;
}
.icon-16-bin{
	background-position: -16px 0px;
}
.icon-16-block{
	background-position: -16px -16px;
}
.icon-16-calendar-view-day{
	background-position: -16px -32px;
}
.icon-16-calendar-view-month{
	background-position: -16px -48px;
}
.icon-16-calendar-view-week{
	background-position: -16px -64px;
}
.icon-16-cancel{
	background-position: -16px -80px;
}
.icon-16-database{
	background-position: -16px -96px;
}
.icon-16-disk-black{
	background-position: -16px -112px;
}
.icon-16-document-copy{
	background-position: -16px -128px;
}
.icon-16-document-text{
	background-position: -16px -144px;
}
.icon-16-document{
	background-position: -16px -160px;
}
.icon-16-drive-upload{
	background-position: -16px -176px;
}
.icon-16-exclamation{
	background-position: -16px -192px;
}
.icon-16-flags{
	background-position: -16px -208px;
}
.icon-16-folder-open-document-text{
	background-position: -32px 0px;
}
.icon-16-folder-open-image{
	background-position: -32px -16px;
}
.icon-16-folder-open-mixed{
	background-position: -32px -32px;
}
.icon-16-folder{
	background-position: -32px -48px;
}
.icon-16-folder-add{
	background-position: -32px -64px;
}
.icon-16-gear{
	background-position: -32px -80px;
}
.icon-16-globe-green-flags{
	background-position: -32px -96px;
}
.icon-16-i18n{
	background-position: -32px -112px;
}
.icon-16-i18n2{
	background-position: -32px -128px;
}
.icon-16-import-to-db{
	background-position: -32px -144px;
}
.icon-16-light-bulb{
	background-position: -32px -160px;
}
.icon-16-newspaper-pencil{
	background-position: -32px -176px;
}
.icon-16-newspaper{
	background-position: -32px -192px;
}
.icon-16-node-affect-child{
	background-position: -32px -208px;
}
.icon-16-node-select{
	background-position: -48px 0px;
}
.icon-16-sort-alphabet-descending{
	background-position: -48px -16px;
}
.icon-16-sort-alphabet{
	background-position: -48px -32px;
}
.icon-16-sort-date-descending{
	background-position: -48px -48px;
}
.icon-16-sort-date{
	background-position: -48px -64px;
}
.icon-16-sort-number-descending{
	background-position: -48px -80px;
}
.icon-16-sort-number{
	background-position: -48px -96px;
}
.icon-16-ui-layout-panel{
	background-position: -48px -112px;
}
.icon-16-user-pencil{
	background-position: -48px -128px;
}
.icon-16-user-image{
	background-position: -48px -144px;
}
.icon-16-user{
	background-position: -48px -160px;
}
.icon-16-world-dis{
	background-position: -48px -176px;
}
.icon-16-world{
	background-position: -48px -192px;
}
.icon-16-world-edit{
	background-position: -48px -208px;
}
.icon-16-editor-application-block-add{
	background-position: -64px 0px;
}
.icon-16-editor-application-block-gear{
	background-position: -64px -16px;
}
.icon-16-editor-document-task{
	background-position: -64px -32px;
}
.icon-16-editor-document-update{
	background-position: -64px -48px;
}
.icon-16-editor-edit-alignment-center{
	background-position: -64px -64px;
}
.icon-16-editor-edit-alignment-justify{
	background-position: -64px -80px;
}
.icon-16-editor-edit-alignment-right{
	background-position: -64px -96px;
}
.icon-16-editor-edit-alignment{
	background-position: -64px -112px;
}
.icon-16-editor-edit-bold{
	background-position: -64px -128px;
}
.icon-16-editor-edit-heading{
	background-position: -64px -144px;
}
.icon-16-editor-edit-image-center{
	background-position: -64px -160px;
}
.icon-16-editor-edit-image-default{
	background-position: -64px -176px;
}
.icon-16-editor-edit-image-right{
	background-position: -64px -192px;
}
.icon-16-editor-edit-image{
	background-position: -64px -208px;
}
.icon-16-editor-edit-indent{
	background-position: -80px 0px;
}
.icon-16-editor-edit-italic{
	background-position: -80px -16px;
}
.icon-16-editor-edit-list-order{
	background-position: -80px -32px;
}
.icon-16-editor-edit-list{
	background-position: -80px -48px;
}
.icon-16-editor-edit-outdent{
	background-position: -80px -64px;
}
.icon-16-editor-edit-rule{
	background-position: -80px -80px;
}
.icon-16-editor-edit-shadow{
	background-position: -80px -96px;
}
.icon-16-editor-edit-size-down{
	background-position: -80px -112px;
}
.icon-16-editor-edit-size{
	background-position: -80px -128px;
}
.icon-16-editor-edit-small{
	background-position: -80px -144px;
}
.icon-16-editor-edit-strike{
	background-position: -80px -160px;
}
.icon-16-editor-edit-style{
	background-position: -80px -176px;
}
.icon-16-editor-edit-subscript{
	background-position: -80px -192px;
}
.icon-16-editor-edit-superscript{
	background-position: -80px -208px;
}
.icon-16-editor-edit-symbol{
	background-position: -96px 0px;
}
.icon-16-editor-edit-underline{
	background-position: -96px -16px;
}
.icon-16-editor-eraser{
	background-position: -96px -32px;
}
.icon-16-editor-film-plus{
	background-position: -96px -48px;
}
.icon-16-editor-film-upload{
	background-position: -96px -64px;
}
.icon-16-editor-folder-open-guide-blocks{
	background-position: -96px -80px;
}
.icon-16-editor-globe-plus{
	background-position: -96px -96px;
}
.icon-16-editor-globe-green-minus{
	background-position: -96px -112px;
}
.icon-16-editor-globe-green-pencil{
	background-position: -96px -128px;
}
.icon-16-editor-guide-blocks-edit{
	background-position: -96px -144px;
}
.icon-16-editor-guide-blocks{
	background-position: -96px -160px;
}
.icon-16-editor-guide{
	background-position: -96px -176px;
}
.icon-16-editor-image-edit{
	background-position: -96px -192px;
}
.icon-16-editor-image-plus{
	background-position: -96px -208px;
}
.icon-16-editor-image-background{
	background-position: -112px 0px;
}
.icon-16-editor-image-resize-actual{
	background-position: -112px -16px;
}
.icon-16-editor-image-upload{
	background-position: -112px -32px;
}
.icon-16-editor-picture-pencil{
	background-position: -112px -48px;
}
.icon-16-editor-selection-input-highlight{
	background-position: -112px -64px;
}
.icon-16-editor-selection-input{
	background-position: -112px -80px;
}
.icon-16-editor-selection-resize-actual{
	background-position: -112px -96px;
}
.icon-16-editor-slide-add-after{
	background-position: -112px -112px;
}
.icon-16-editor-slide-add-before{
	background-position: -112px -128px;
}
.icon-16-editor-table-minus{
	background-position: -112px -144px;
}
.icon-16-editor-table-pencil{
	background-position: -112px -160px;
}
.icon-16-editor-table-plus{
	background-position: -112px -176px;
}
.icon-16-editor-table-clear{
	background-position: -112px -192px;
}
.icon-16-editor-table-delete-column{
	background-position: -112px -208px;
}
.icon-16-editor-table-delete-row{
	background-position: -128px 0px;
}
.icon-16-editor-table-insert-column-left{
	background-position: -128px -16px;
}
.icon-16-editor-table-insert-column-right{
	background-position: -128px -32px;
}
.icon-16-editor-table-insert-column{
	background-position: -128px -48px;
}
.icon-16-editor-table-insert-header{
	background-position: -128px -64px;
}
.icon-16-editor-table-insert-row-above{
	background-position: -128px -80px;
}
.icon-16-editor-table-insert-row-below{
	background-position: -128px -96px;
}
.icon-16-editor-table-insert-row-inside{
	background-position: -128px -112px;
}
.icon-16-editor-table-insert-row-selected-above{
	background-position: -128px -128px;
}
.icon-16-editor-table-insert-row-selected-below{
	background-position: -128px -144px;
}
.icon-16-editor-table-insert-row{
	background-position: -128px -160px;
}
.icon-16-editor-table-paint-can{
	background-position: -128px -176px;
}
.icon-16-editor-table{
	background-position: -128px -192px;
}
.icon-16-editor-ui-panel-eraser{
	background-position: -128px -208px;
}
.icon-16-editor-ui-panel{
	background-position: -144px 0px;
}
.icon-32-dialog-information{
	background-position: -144px -16px;
}
.icon-32-dialog-warning{
	background-position: -144px -48px;
}
.icon-32-face-devilish{
	background-position: -144px -80px;
}
.icon-32-face-grin{
	background-position: -144px -112px;
}
.icon-32-face-plain{
	background-position: -144px -144px;
}
.icon-32-face-smile{
	background-position: -144px -176px;
}
.icon-32-software-update-urgent{
	background-position: -144px -208px;
}
.icon-64-trashcan-full{
	background-position: -176px 0px;
}